// Specific CSS for your home-page
.value-prop-cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.value-prop-card {
  width: 350px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  box-shadow:0 0 3px palevioletred;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.value-prop-card:hover {
  box-shadow:0 0 15px palevioletred;
}

.value-prop-card img {
  height: 100px;
}

.value-prop-card h4 {
color: black;
font-size:26px;
}

.value-prop-card p {
color: black;
}

.home-title {
  color: white;
  font-weight: normal;
  font-size: 50px;
  width: 600px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  margin-bottom: 10px;
}

.home-title-smaller {
  color: white;
  font-weight: normal;
  font-size: 35px;
  width: 600px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  margin-bottom: 40px;
}

.home-title-bold {
  padding: 0px 5px 0px 5px;
}

.home-subtitle {
  color:lightpink;
  width: 500px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}


.value-prop-subtitle {
  color: rgb(212, 77, 122);
  font-weight: normal;
  font-size: 40px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.category-title {
  color: rgb(212, 77, 122);
  font-weight: normal;
  font-size: 40px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.featured-title {
  color: rgb(212, 77, 122);
  font-weight: normal;
  font-size: 40px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}
