// Import page-specific CSS files here.
@import "home";
@import "show";

#below-banner-index {
  justify-content: space-evenly
}

.banner-index form {
 display: flex;
 justify-content: center;
}

#search_query {
  background-color: transparent;
  border: 2px solid white;
}

.btn-search {
  color: white;
}
