// Import page-specific CSS files here.
@import "home";
@import "show";
@import "profile";
@import "new";


#below-banner-index {
  justify-content: space-evenly
}

.banner-index form {
 display: flex;
 justify-content: center;
}

#search_query {
  background-color: transparent;
  border: 0.5px solid white;
  color: pink;
}

.btn-search {
  color: rgb(255, 255, 255);
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.btn-search:hover {
  color: rgb(238, 157, 184);
}


.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-style-button {
  background-color: palevioletred;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-weight: normal;
  width: 170px;
  position: relative;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 15px
}

.filter-style-button:hover {
  box-shadow: 0 0 6px palevioletred;
}

.filter-search-btn {
  background-color: white;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  border-radius: 10px;
  font-weight: bolder;
  width: 170px;
  color: palevioletred;
  border-color: palevioletred;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 18px;
}

.filter-search-btn:hover {
  box-shadow: 0 0 6px palevioletred
}

.filters-container select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   margin-left: 0;
 }

.container-nopad{
  padding-left: 0;
}

.arrow-down {
  p {
   position: absolute;
  top: 18px;
  left: 143px;
  cursor: pointer;
  transform: rotateZ(90deg);
  color: white;
  font-size: 15px;
  font-weight: lighter;
  }
}

.arrow-down2 {
  p {
   position: absolute;
  top: 18px;
  left: 318px;
  cursor: pointer;
  transform: rotateZ(90deg);
  color: white;
  font-size: 15px;
  font-weight: lighter;
  }
}

.dropdown {
  form {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    select {
      cursor: pointer;
    }
  }
}
// .filter-dropdown {
//   position: relative;
// }

// .filters-style-button select {
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

// .filter-style-button:after {
//   content: '>';
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   color: black;
//   font-size: 100px;

// }

.page-title {
  color: white;
  font-weight: normal;
  font-size: 45px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.index-sub {
  font-weight: lighter;
  font-size: 35px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  color: palevioletred;
}

.search-text {
  font-family: "Futura", Arial, Helvetica, sans-serif;
}
