.text-input-white {
  color: white;
}
.col-sm-12 {
  .form-check-label {
  color: white !important;
}
  .col-form-label {
    color: white;
  }
}

.new-page-title {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 50px
}
