.container-profile {
  border-radius: 15px;
  height: fit-content;
  background-color: white;
  padding: 40px;
  padding-right: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.profile-section {
  height: 400px;
}
