<p class="modal-texts"><strong>Starting Price: €</strong> <%=  @art.starting_price %></p>
<%= simple_form_for([art, bid]) do |f| %>
<%= f.input :amount %>
  <%= f.submit class: 'modal-action' %>
<% end %>
