
    <div class="footer-basic">
        <p class="goodbye-text" id="social-media-entry-text">Follow For More</p>
            <div class="social"><a href="https://www.instagram.com/mmichielsen/"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a> <a href="https://github.com/amaga008/ourtpieces"><i class="icon ion-social-github"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Explore</a></li>
                <li class="list-inline-item"><a href="#">Create</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="goodbye-text">OurtPieces © 2021</p>
    </div>
