<div class="banner">
  <div class="container">
  <video autoplay loop muted class="banner__video" poster="https://mixkit.imgix.net/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-0.jpg?q=80&auto=format%2Ccompress">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-large.mp4" type="video/webm">
  </video>
    <h1>Be part of the NFT revolution, buy your OURTPIECE today!</h1>
    <div class="inline-block">
      <a class="btn btn-primary mr-3" href="#">Apply now</a>
      <a class="btn btn-dark mr-3" href="#">Apply now</a>
    </div>
  </div>
</div>
