.confirm-purchase {
  background-color: transparent;
  line-height: 1;
  margin: 2px;
  padding: 8px;
  color: grey;
  border-color: grey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.place-bid {
  background-color: grey;
  line-height: 1;
  margin: 2px;
  padding: 8px;
  color: rgb(255, 255, 255);
  border-color: darkgrey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: normal;
}

.confirm-purchase:hover {
  color: white;
  font-weight: bolder;
  padding: 9px;
}

.place-bid:hover {
  background-color: grey;
  border-color: darkgrey;
  color: white;
  padding: 9px;
}


.home-create {
  background-color: white;
  line-height: 1;
  margin:10px;
  padding: 17px;
  color: palevioletred;
  border: lightpink;
  border-radius: 10px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  font-style: italic;
  font-size: 25px;
}

.home-create:hover {
  margin: 10px;
  padding: 18.5px;
  box-shadow: 0 0 15px palevioletred;
  color: palevioletred;
  text-decoration: none;
}

.show-action {
  background-color: palevioletred;
  margin-top: 10px;
  line-height: 1;
  padding: 17px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  font-style: italic;
  font-size: 25px;
}

.show-action:hover {
  margin-top: 10px;
  padding: 18.5px;
  box-shadow: 0 0 15px palevioletred;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.home-explore {
  background-color: palevioletred;
  line-height: 1;
  margin: 10px;
  padding: 17px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  font-style: italic;
  font-size: 25px;
}

.home-explore:hover {
  margin: 10px;
  padding: 18.5px;
  box-shadow: 0 0 15px palevioletred;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}


.profile-create {
  background-color: palevioletred;
  line-height: 1;
  margin: 10px;
  padding: 17px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  font-style: italic;
  font-size: 15px;
}

.profile-create:hover {
  margin: 10px;
  padding: 18.5px;
  box-shadow: 0 0 15px palevioletred;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.purchase {
  background-color: whitesmoke;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: palevioletred(255, 255, 255);
  color: palevioletred;
  border: lightpink;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.btn-drop:hover {
  box-shadow: 0 0 6px palevioletred;
}

.sign-up {
  background-color: palevioletred;
  line-height: 1;
  margin: 3px;
  padding: 17px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  font-style: italic;
  font-size: 20px;
}

.sign-up:hover {
  color: white;
  box-shadow: 0 0 15px palevioletred;
}
