.confirm-purchase {
  background-color: transparent;
  line-height: 1;
  margin: 2px;
  padding: 8px;
  color: grey;
  border-color: grey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.place-bid {
  background-color: grey;
  line-height: 1;
  margin: 2px;
  padding: 8px;
  color: rgb(255, 255, 255);
  border-color: darkgrey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: normal;
}

.confirm-purchase:hover {
  color: white;
  font-weight: bolder;
  padding: 9px;
}

.place-bid:hover {
  background-color: grey;
  border-color: darkgrey;
  color: white;
  padding: 9px;
}


.home-create {
  background-color: white;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: palevioletred;
  border: lightpink;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.home-create:hover {
  background-color: palevioletred;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.home-explore {
  background-color: palevioletred;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.home-explore:hover {
  background-color: white;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: palevioletred;
  border: lightpink;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}


.profile-create {
  background-color: palevioletred;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: rgb(255, 255, 255);
  color: white;
  border: lightpink;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}

.btn-drop:hover {
  box-shadow: 0 0 6px palevioletred;
}
.profile-create:hover {
  background-color: black;
  line-height: 1;
  margin: 5px;
  padding: 14px;
  color: palevioletred;
  border: palevioletred;
  border-radius: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bolder;
}
