.card-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.card-art {
  overflow: hidden;
  width: 350px;
  border-radius: 15px 15px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 50px;
  transition: ease 0.3s;
}

.card-art:hover {
  overflow: hidden;
  border-radius: 15px 15px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

.card-art > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-art h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-art p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}

.card-art-infos a.none {
    text-decoration: none;
}


.card-art .card-art-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-art-infos .card-art-user {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: ease 0.3s;
}

.card-category:hover {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(133, 94, 94, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.auction-card {
  background-color: red;
}

.auction-card h4 {
  color: white;
}

.card-new-art {
  height: fit-content;
  width: fit-content;
  padding: 50px;
  border: 5px palevioletred;
  border-style: solid;
  background-color: transparent;
}
