.card-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.card-art {
  position: relative;
  overflow: hidden;
  width: 350px;
  border-radius: 15px 15px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px 5px 50px 6px;
  transition: ease 0.3s;
  h4 {
    position: absolute;
    right: -1px;
    background-color: #128f39;
    padding: 4px 7px 4px 4px;
    font-size: 12px;
    color: white;
    padding-left: 13px;
  }
}

.card-art:hover {
  overflow: hidden;
  border-radius: 15px 15px;
  background: white;
  box-shadow: 0 0 25px palevioletred;
  margin-bottom: 50px;
  text-decoration: none;
}

.card-art > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  ;
}

.card-art h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  font-family: "Futura", Arial, Helvetica, sans-serif;
}

.card-art p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
  font-family: "Futura", Arial, Helvetica, sans-serif;
}

.card-art-infos a.none {
    text-decoration: none;
}


.card-art .card-art-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-art-infos:hover {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-art-infos .card-art-user {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
}

.featured:hover {
  width: 370px;
  box-shadow: 0 0 25px palevioletred;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: ease 0.3s;
}


.card-category:hover {
  background-size: cover;
  background-position: center;
  height: 210px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(133, 94, 94, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 15px palevioletred;
}

.all-category-cards {
  width: 100%;
  overflow:initial;
}

.auction-card {
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 50px;
}

.card-new-art {
  height: fit-content;
  width: fit-content;
  padding: 50px;
  border: 5px palevioletred;
  border-style: solid;
  background-color: transparent;
}

.card-new-html {
  height: fit-content;
  width: fit-content;
  padding: 50px;
  border: 5px solid palevioletred;
  background-color: whitesmoke;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.david {
  height: fit-content;
  padding: 50px;
}

.sale-card-container {
  margin-left: 150px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 50px;
}
