.card-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.card {
  height: 450px;
  width: 480px;
  margin-bottom: 50px;
  margin-right: 20px;
  border-radius: 30px 30px 30px 30px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 grey;
  transition: 0.3s;
  border: none;
  transition: ease 0.3s;
}

.card-index {
height: 200px;
  width: 289px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card img {
  height: 400px;
  width: 489px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.banner .card img {
  height: 300px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card {
  h1 {
    color: dimgray;
    text-decoration: wavy;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
  }
  h2 {
    color: dimgray;
    text-decoration: wavy;
    font-size: 26px;
    font-style: italic;
    font-weight: normal;
  }
  h3 {
    color: dimgray;
    text-decoration: wavy;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: ease 0.3s;
}

.card-category:hover {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(133, 94, 94, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
