.visible {
  visibility: visible;
}

.form-check-label {
  color: black;
}

.optional {
  font-family: "Futura", "Helvetica";
  font-variant: small-caps;
  color: palevioletred;
}

.login-signup-text {
  font-family: "Futura", "Helvetica";
  font-variant: small-caps;
  color: palevioletred;
}

.required {
  font-family: "Futura", "Helvetica";
  font-variant: small-caps;
  color: palevioletred;
}

#art_category{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  color: #0000005e;
  margin-bottom: 13px;
}
