.visible {
  visibility: visible;
}

.form-check-label {
  color: black;
}

.optional {
  font-family: "Futura", "Helvetica";
  font-variant: small-caps;
  color: palevioletred;
}

.login-signup-text {
  font-family: "Futura", "Helvetica";
  font-variant: small-caps;
  color: palevioletred;
}

.required {
  font-family: "Futura", "Helvetica";
  font-variant: small-caps;
  color: palevioletred;
}
