.navbar-lewagon {
  justify-content: space-between;
  background: palevioletred;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm {
  justify-content: none;
}

#navbar-position {
  display: flex;
  justify-content: space-between;
}

#nav-link-color {
  color: white;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.dropdown-item {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.navbar-brand {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}
