.card-new{
  height: 450px;
  width: 480px;
  margin-bottom: 50px;
  margin-right: 20px;
  border-radius: 30px 30px 30px 30px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 grey;
  transition: 0.3s;
  border: none;
  transition: ease 0.3s;
}
