<%= simple_form_for([art, transaction]) do |f| %>
<p class="modal-texts"><strong> Price: €</strong> <%=  @art.starting_price %></p>
  <%= f.submit "Confirm Purchase", class: 'modal-action' %>
<% end %>
