<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.e-flux-systems.com/283237_588943ecc546db7cc5168e868a7848e7.jpg,1920);">
    <div class="d-flex justify-content-center">
    <div class="card-new-art text-center">
      <h1 >Congratulations</h1>
      <br>
      <br>
      <br>
      <h1> Your <%=@art.title%> is purchased</h1>
      <br>
      <br>
      <h1>Total Price €<%=@transaction.amount%></h1>
      <br>
      <br>
      <br>
      <%= link_to 'Find other Artworks', arts_path, class:'btn btn-dark'%>
      <br>
    </div>
    </div>
  </div>
